*{
    margin: 0px;

}
.navbar {
    height: 60px;
    width: auto;
    background: #901b13;
    text-align: center;
    padding-left: 20%;
    padding-top: 1.5%;
    border-bottom: 4px solid #b7362f;

}


.navbarBtn {
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 20px;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.navbarBtn:hover {
    color: black;
    background-size: 100% 100%;
}

.navbarContener {
    float: left;
}



.carousel-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 5%;
    position: relative;

}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}



.page-footer {
    height: 40px;
    width: auto;
    background-color: #901b13;
    padding-top: 20px;
    padding-left: 100px;
    text-transform: uppercase;
}

.footer-copyright {
    float: left;
}



.name {
    padding-left: 220px;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.name:hover {
    background-size: 22% 1000%;
}

html {
    font-family: verial, sans-serif;
}


.containerBar {
    height: 60px;
    width: auto;
    background: #901b13;
    text-align: center;
    padding-top: 1.5%;
    border-bottom: 4px solid #b7362f;
    color: white;
    text-decoration: none;
    font-size: 200%;
    
}

.separationBar {
 
   
}

.hommage {
    margin: 3%;
    border: solid black 5px;
    padding: 10px;
    background-color: floralwhite;
}

.navbarBtnActu {
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 20px;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    background-size: 100% 100%;
}
